<p>
  <strong>Name:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @map.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @map.lng %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
<%= link_to 'Destroy', map_path(@map), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>

<div style="height: 100vh" id="map"></div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbBMrnS3KrUYYoOJ_k9a8EoOFaicyxCAw&callback=initMap", defer: true %>
<script>
    function initMap() {
        var latLng = {lat: <%= @map.lat %>, lng: <%= @map.lng %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: <%= @map.zoom %>,
            center: latLng
        });
    }
</script>