<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :lat, id: 'hidden_lat' %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>

  </div>

  <div>
    <%= form.hidden_field :lat, id: 'hidden_lat' %>
  </div>

  <div>
    <%= form.hidden_field :lng, id: 'hidden_lng' %>
  </div>

  <div>
    <%= form.hidden_field :rotation, id: 'hidden_rotation' %>
  </div>

  <div>
    <%= form.label :tag, style: "display: block" %>
    <%= form.text_field :tag %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :source, multiple: true, style: "display: block" %>
    <%= form.file_field :source, multiple: true, name: "image[source][]" %>

  </div>

  <div>
    <%= form.label :uploadedBy, style: "display: block" %>
    <%= form.text_field :uploadedBy %>
  </div>

  <div>
    <%= form.label :map_id, style: "display: block" %>
    <%= form.collection_select :map_id, Map.all, :id, :title, {include_blank: 'Select Map'}, {id: 'map_id'}  %>
  </div>

  <div>
    <%= form.label :image_set_id, style: "display: block" %>
    <%= form.select :image_set_id, options_from_collection_for_select(ImageSet.all, :id, :typ, image.image_set_id),{include_blank: 'Select ImageSet'},{id: 'image_set_id' ,disabled: true}  %>
  </div>



  <div>
    <%= form.submit %>
  </div>

<% end %>


<script src="https://cdn.jsdelivr.net/npm/exifr/dist/lite.umd.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="module">





    document.querySelector("#map_id").addEventListener("change", function() {
        var imageSetSelect = document.querySelector("#image_set_id");
        if (this.value) {
            imageSetSelect.disabled = false;
        } else {
            imageSetSelect.disabled = true;
        }
    });

    $(document).ready(function() {
        $('#map_id').on('change', function() {
            var mapId = $(this).val();
            $.ajax({
                url: '/maps/' + mapId + '/image_sets',
                dataType: 'json',
                success: function(data) {
                    var imageSetSelect = $('#image_set_id');
                    imageSetSelect.empty();
                    imageSetSelect.append($('<option>', {
                        value: '',
                        text: 'Select Image Set'
                    }));
                    $.each(data, function(index, imageSet) {
                        imageSetSelect.append($('<option>', {
                            value: imageSet.id,
                            text: imageSet.typ
                        }));
                    });
                    imageSetSelect.prop('disabled', false);
                }
            });
        });
    });
</script>