<div id="<%= dom_id image %>">
  <p>
    <strong>Title:</strong>
    <%= image.title %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= image.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= image.lng %>
  </p>

  <p>
    <strong>Rotation:</strong>
    <%= image.rotation %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= image.tag %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= image.date %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= image.source %>
  </p>

  <p>
    <strong>Uploadedby:</strong>
    <%= image.uploadedBy %>
  </p>

  <p>
    <strong>Imagesets:</strong>
    <%= image.image_set_id %>
  </p>

</div>
