<p style="color: green"><%= notice %></p>

<%= render @image %>


<% @image.source.each do |source| %>
  <%= image_tag source, class: "img-responsive", style:"max-height:200px"%>
<% end %>



<div>
  <%= link_to "Edit this image", edit_image_path(@image) %> |
  <%= link_to "Back to images", images_path %>

  <%= button_to "Destroy this image", @image, method: :delete %>
</div>
